<div class="container">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="login-form">
    <div>
      <label for="username">UserName:</label>
      <input type="text" id="username" name="username" ngModel required placeholder="Enter your username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" ngModel required placeholder="Enter your password">
    </div>
    <button type="submit">Login</button>
  </form>
</div>